.summaryCollapsed {
    box-sizing: content-box;
    padding: 0.5%;
    width: 100%;
    margin-bottom: 1%;
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between;
} 
.collapsedTitle {
    font-weight: 500;
    font-size: larger;
    display: inline;
}
.buttonClosed {
    color: hsla(0, 0%, 15%, 55%);
    border-color: hsla(0, 0%, 15%, 55%);
    display: inline;
    border-style:ridge;
    align-self:baseline;
    margin-left: auto;
    font-weight: 700;
}
.buttonOpen {
    color: hsla(0, 0%, 15%, 55%);
    border-color: hsla(0, 0%, 15%, 55%);
    display: inline;
    border-style:ridge;
    align-self:baseline;
    font-weight: 700;
}
.summaryOpen {
    box-sizing: content-box;
    padding: 0.5%;
    width: 100%;
    margin-bottom: 1%;
    display: flex;
    flex-flow: row wrap;
}
.titleOpen {
    font-weight: 500;
    display: inline;
    font-size: larger;
}
.titleBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsla(0, 0%, 85%, 65);
}

.summaryBody {
    line-height: 1.5;
    padding: 3%;
    border-bottom: 1px solid hsla(0, 0%, 85%, 65);
    border-radius: 5%;
}
.linkSection {
    padding: 1%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}
.spacingBars {
    font-weight:900;
    font-size:large;
}

.modPageHeader {
    font-size:xx-large;
    font-weight: 700;
    align-self: flex-start;
    line-height: 1;
}
.byLine {
    font-size: x-large;
    font-weight: 600;
    align-self: flex-start;
    margin-left: 2%;
    line-height: 1;
}

.heroImage {
    width: 95%;
    height: auto;
    margin: 1% 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    box-shadow: 10px 8px 10px -3px black;
}

.fullDescription {
    border-bottom: 4px solid hsla(0, 0%, 85%, 65);
    border-right: 2px solid hsla(0, 0%, 85%, 65);
    border-left: 2px solid hsla(0, 0%, 85%, 65);
    border-radius: 8%;
    padding: 2%;
}
.linkHeader {
    font-size: x-large;
    font-weight: 700;
    margin-top: 10%;
    padding: 2%;
    align-self: center;    
}
.youtubeThumb {
    width: 100%;
}
.youtubeContainer {
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: auto;
}
.youtubeSection {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
